

 .card{
    /* width: 400px;
    height: 500; */
    padding: 4rem 1rem;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(0,0,0,.5);
    transition: .5s ease-in-out;
}

.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.card:hover{
    transform: translateY(20px);

}

.card::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,176,155,0.5), rgba(150, 201,61,1));
    z-index: 2;
    transition: .5s all;
    opacity: 0;
}

.card:hover::before{
    opacity: 1;

}

.card .info{
    position: relative;
    z-index: 3;
    color: white;
    opacity: 0;
    transform: translateY(10px);
     transition: .5s all;
}

.card:hover .info{
    opacity: 1;
    transform: translateY(0px);
}

@media (min-width:768px) and (max-width:1024px) {
    .card2{
    padding: 6rem 1rem;  
}
    .card2 img{
     object-position: center .1rem;
}

.cardAnniversary{
    padding: 4rem 1rem; 
}

.cardAnniversary2{
    padding: 7rem 1rem; 
}
}